    .testdiv {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 10px;
            margin: 20px 0;
        }

      .testdiv table {
        height: 00px;
            width: auto;            
            align-items: center;
            justify-content: center;
      }

      h2{
        text-align: center;
      }
      .form-right {
        display:flex;
        justify-content: right;
        flex-wrap: wrap;
      }
